@(basket: Form[UpdateBasketForm], users: Seq[User], products: Seq[Product])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.BasketController.updateBasketHandle()) {
    @helper.CSRF.formField
    <!--suppress ALL -->
    <input name="idBaskets" id="idBaskets" value="@basket("idBaskets").value" type="hidden" />

    <select name="idUsers" id="idUsers">
    @for(user <- users) {
        @if(user.id.toString == basket("idUsers").value.getOrElse(0)) {
            <option value="@user.id" selected>@user.email</option>
        } else {
            <option value="@user.id">@user.email</option>
        }
    }
    </select>

    <select name="idProducts" id="idProducts">
    @for(product <- products) {
        @if(product.idProducts.toString == basket("idProducts").value.getOrElse(0)) {
            <option value="@product.idProducts" selected>@product.name</option>
        } else {
            <option value="@product.idProducts">@product.name</option>
        }
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Update Basket"/>
    </div>
} s