@(user: Form[UpdateUserForm], settings: Seq[Settings])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.UserController.updateUserHandle()) {
    @helper.CSRF.formField
    @inputText(user("password"))
    @inputText(user("email"))
    <!--suppress ALL -->
    <input name="id" id="id" value="@user("idUsers").value" type="hidden" />

    <select name="user" id="user">
    @for(settings <- settings) {
        @if(settings.idSettings.toString == user("idSettings").value.getOrElse(0)) {
            <option value="@settings.idSettings" selected>@settings.description</option>
        } else {
            <option value="@settings.idSettings">@settings.description</option>
        }
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Update User"/>
    </div>
}